
/**
!.gitignore
!read.me
!audit_report_fix.pdf
!audit_it_structure.pdf
!audit_report.pdf
!communication_log.pdf
!video_demo_link.txt
!assets/
assets/*
!assets/main/
assets/main/**
!assets/main/desciption.pdf
!assets/task_1/
assets/task_1/**
!assets/task_1/scoring_1.md
!assets/task_1/solution_1.docx
!assets/task_1/solutuion_1_fix.docx
!assets/task_2/
assets/task_2/**
!assets/task_2/scoring_2.md
!assets/task_2/solution_2.docx
!assets/task_3/
assets/task_3/**
!assets/task_3/scoring_3.md
!assets/task_3/solution_3.docx
!assets/task_4/
assets/task_4/**
!assets/task_4/scoring_4.md
!assets/task_4/solution_4.docx
!assets/task_4/solution_4_fix.docx